# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
<ul>
<li>List some popular languages used in data science</li>
<li>List the commonly used libraries in data science</li>
<li>Name some of the commonly data science tools</li>
</ul>

#### Some of the popular languages that Data Scientists use are:
<ol>
    <li> Python </li>
    <li> R </li>
    <li> SQL </li>
    <li> Scala </li>
</ol>

#### Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li> Numpy </li>
    <li> Pandas </li>
    <li> Matplotlib </li>
    <li> Scikit-Learn </li>
</ol>

| Data Science Tools |
| --- | 
| Jupyter Notebook |
| Rstudio |
| GGplot2  |
| Tensorflow |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60

minutes = 200
hour = minutes / 60
hour

3.3333333333333335

<h2>Author: </h2>
Luis Rivera